{{> header}}
<section id="primary" class="col-lg-9">
{{#each collections.posts}}
  <article class="post">
    <h2><a href="{{this.path}}">{{this.title}}</a></h2>
    <p class="small">Posted on: <time>{{moment this.date format="DD.MM.YYYY hh:mm"}}</time></p>
    {{#if this.image}}
      <img src="{{this.image}}" />
    {{/if}}
    <p class="lead">{{{this.excerpt}}}</p>
  </article>
{{/each}}
</section>
{{> footer}}