{{> header}}
<div class="col-md-8">
	<h1>{{title}}</h1>
  <p class="small">Posted on: <time>{{moment date format="DD.MM.YYYY hh:mm"}}</time></p>
	{{{ contents }}}
</div>
<div class="col-md-4">
  <h1 class="small">Other posts</h1>
  <ul>
    {{#each collections.posts}}
    <li><a href="{{this.path}}">{{this.title}}</li>
    {{/each}}
  </ul>
</div>
{{> footer}}