{{> header}}
<div class="col-lg-8">
	<h1>{{title}}</h1>
  <p class="date">{{date}}</p>
	{{{ contents }}}
</div>
<div class="col-lg-4">
  <h1 class="small">Other posts</h1>
  <ul>
    {{#each collections.posts}}
    <li><a href="{{this.path}}">{{this.title}}</li>
    {{/each}}
  </ul>
</div>
{{> footer}}