{{> header}}
<div class="row">
  <div class="col-lg-8">
  {{{contents}}}
    {{#each collections.posts}}
    <article>
      <h2><a href="{{this.path}}">{{this.title}}</a></h2>
      <p class="small">
        Posted on: <time>{{#moment format="DD.MM.YYYY"}}{{this.date}}{{/moment}}</time>
      </p>
      {{{this.contents}}}
    </article>
    {{/each}}
  </div>
</div>
{{> footer}}